*.suo
*.user
*.userosscache
*.sln.docstates

.vs
FruityUI.sln.cache
FruityUI/obj
FruityUI/bin
FruityUI/FruityUI_TemporaryKey.pfx
IPlugin/obj
IPlugin/bin
Plugin/obj
Plugin/bin
Core/bin
Core/obj
ISettings/obj
ISettings/bin

